/**
  Styles/classes not treated as components
 */


html,
body {
  height: 100%;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

body {
  background-color: $white;
}

img {
  max-width: 100%;
}

.page-content {
  padding: 35px 0 50px;
}

.usb-form {
  margin-bottom: 35px;
}

.usb-result-item {
  display: flex;
  align-items: center;

  > .avatar {
    width: 35px;
    border-radius: 100%;
    margin-right: 15px;
    object-fit: contain;
  }

  > .login {

  }
}

.gh-user {
  display: flex;
  align-items: top;
  margin: 0 0 35px;
}

.gh-user-avatar {
  width: 75px;
  border-radius: 100%;
  margin-right: 30px;
  object-fit: contain;
  overflow: hidden;
}

.gh-user-info {
  flex-grow: 1;
  padding: 10px 0 0 0;
}

.gh-user-name {
  display: flex;
  align-items: baseline;

  > .name {
    margin-right: 15px;
  }

  > .gh-link {}
}

.user-body {
  padding: 0 10px;
}

.user-repos.table {
  tbody {
    font-size: 90%;
  }
}